.git
.gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.vscode/
.env
venv/
.env.local
.DS_Store
*.ipynb
build/
dist/

# Exclude all outputs except model weights
output/*
!output/best.pt

# Node/Web artifacts just in case
node_modules/
