# Core utilities
dill
from-root
notebook
gdown
fastapi
uvicorn

# YOLO11 base dependencies
gitpython
matplotlib
numpy
opencv-python
Pillow
psutil
PyYAML
requests
scipy
thop
torch
torchvision
tqdm
ultralytics

# Data handling & visualization
pandas
seaborn

# Deployment & system
setuptools
                
# Local package installation
-e .
